@import '../Global/variables.scss';
.header{
    position: relative;
 
    .svg{
       
       transform: rotate(-180deg);
    }
    .menu{
        position: fixed;
        top: 0;
        z-index: 3;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        .logo{
          width: 130px;
         
        }
        .routes{
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                a{  
                  color:$WHITE;
                  text-decoration: none;
                  margin-left: 10px;
                }
            }
        }
        .sesion{
            margin-right: 10px;
              display: flex;
            justify-content: center;
            align-items: center;
            a{
                
                   color:$WHITE;
                  text-decoration: none;
             
            }
        }
    }
}
.sesion a:nth-child(1){
    background-color: $YELLOW;
    padding: 12px;
    border-radius: 5px;
    margin-right: 10px;
}
.hero-gradient{
    position: relative;
}
.hero-gradient::after{
       content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: white;
}
