@import '../Global/variables.scss';

.header{

    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    .menu-header{
      position: absolute;
      top:0;
      display: flex;
      flex-direction: column;
      width: 100%;
            .menu{
       
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
         background-color: $BLUE;
        .logo{
          width: 130px;
         
        }
        .routes{
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                a{  
                  color:$WHITE;
                  text-decoration: none;
                  margin-left: 10px;
                }
            }
        }
        .sesion{
            margin-right: 10px;
              display: flex;
            justify-content: center;
            align-items: center;
           
            a{
               color:$WHITE;
               text-decoration: none; 
            }
        }
    }

    }
            .box{
                 margin-top: 100px;
                  h1{
                  font-family: 'Nunito Sans', sans-serif;
               
                    font-size: 4.5em;
                    color: $WHITE;
                    stroke: 1px $BLUE;
                    -webkit-text-stroke: 1px $BLUE;

                    font-weight: 400;
                }
                h3{
                    font-family: 'Nunito Sans', sans-serif;
                    font-size: 3.5em;
                    color: $WHITE;
                    stroke: 1px $BLUE;
                    -webkit-text-stroke: 1px $BLUE;
                    font-weight: 400;
                }   
                p{
                    text-align: right;
                    color:$BLUELIGHT;
                    stroke: 1px $BLUE;
                    -webkit-text-stroke: 1px $BLUE;
                }
             }
    
}
.sesion a:nth-child(1){
    background-color: $BLUELIGHT;
    padding: 12px;
    border-radius: 5px;
    margin-right: 10px;
}




