@import '../Global/variables.scss';
.centrarHeader{
    transform: rotate(180deg);
}
.centrarFooter{
    transform: rotate(0deg);
}

.blue{
    background-color: darkcyan;
}
.red{
    background-color:$RED;
}
.path {
    
        fill:$WHITE;
   
}
svg{
    width: 100%;
}