@import '../Global/variables.scss';

:local{
   .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;  
        position: relative;
        
   }
   .foorter{
       display: flex;
       justify-content: space-between;
       align-items: flex-end;
       flex-direction: column;
       width: 100%;
       height: 300px;
       position: relative;
     
           background-color: $BLUE;
       h6{
           color:$WHITE;
       }
       .end{
           color:$WHITE;
       }
   }
   .centar{
          display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
   }
  
}