@import '../Global/variables.scss';
:local{

    .container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 700px;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            
            @media(max-width: 600px){
                height: auto;
            }
            width:100%;
        .url{
             display: flex;
            justify-content: center;
            width: 100%;
           
        }
        .text{
             display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
             width: 100%;
             .box{
                 margin-top: 100px;
                  h1{
                  font-family: 'Nunito Sans', sans-serif;
               
                    font-size: 4.5em;
                    color: $WHITE;
                    stroke: 1px $BLUE;
                    -webkit-text-stroke: 1px $BLUE;

                    font-weight: 400;
                }
                h3{
                    font-family: 'Nunito Sans', sans-serif;
                    font-size: 3.5em;
                    color: $WHITE;
                    stroke: 1px $BLUE;
                    -webkit-text-stroke: 1px $BLUE;
                    font-weight: 400;
                }   
                p{
                    text-align: right;
                    color:$BLUELIGHT;
                    stroke: 1px $BLUE;
                    -webkit-text-stroke: 1px $BLUE;
                }
             }
             
            
        }
        
    }
        
}
